.tabuleiro {
  display: inline-block;
  width: auto !important;
  margin: 10px auto;
  padding: 0px;
  border: 1px solid black;
}
.casa {
  font-size: 40px;
  line-height: 72px;
  margin: 0px;
  padding: 9px;
  cursor: pointer;
  display: inline-block;
  min-width: 90px !important;
  min-height: 90px !important;
  text-align: center;
}
.casa.par {
  background-color: black;
  color: white;
}
.casa.impar {
  background-color: white;
  color: black;
}
