<!DOCTYPE html>
<html>
<head>
	<title>Jogo da velha</title>
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css">
	<meta charset="utf-8">
</head>
<style type="text/css">
	.h1 {
		border-bottom: grey 1px solid; cursor: pointer; color: black;
	}
	h2 {
		font-size: 22px;
	}
</style>
<body>
<br>

<div class="container" id="app">
	<div class="row">
		<h2 class="center" v-if="ganhador == null"> Vez do jogador {{jogador}} </h2>
		<h2 class="center" v-else>{{ ganhador }}</h2>
	</div>
	
	<div class="row">
	    <div class="col s12 m4 l4" v-for="campo, i in campos">
	    	<h1 class="center h1" v-on:click="jogar(i)">
			&nbsp; {{campo}} &nbsp;
			</h1>
	    </div>
  	</div>
</div>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/velha.js"></script>
</body>
</html>